{% extends 'base.html' %}
{% block title   %}
  <title>Edit Task</title>
{% endblock title %}
{% block text %}
     <div class="container">
        </br>
        {% if tasks_obj.manage == request.user %}
        <form method="POST">
            {% csrf_token %}
            <label class="col-lg-2"></label>
            <input type="text" class="form-control col-lg-6" name="task" placeholder="{{ tasks_obj.task }}" value="{{ tasks_obj.task }}">  
            </br>  
            <input type="hidden" name="done" value="{{ tasks_obj.done }}">    
            
            <button type="submit" class="btn btn-primary col-lg-2">Update Task</button>
        </form>
        {% else %}
          <p>Access Denied!!</p>
        {% endif %}
    </div>
</div>{% endblock text %}